#root {
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

header {
  text-align: center;
  padding-bottom: 2vh;
}
.input-txt::placeholder {
  font-size: calc(2px + 1vmin);
}
.input-txt {
  margin: 1em;
  padding-inline: 1vw;
  width: 30vw;
}

#searchForm {
  padding-top: 1vmax;
  margin: 0 auto;
}

/* .list-group-item {
  font-size: calc(1px + 1vmin);
  text-align: center;
  margin-block: 100%;
  padding-block: auto;
} */
main {
  margin-top: 25vh;
}

#map {
  margin-top: 1vh;
  margin-left: 2vh;
  width: 5vmax;
  height: 12vmax;
  font-size: calc(1px + 1vmin);
}

.tuneslist {
  font-size: calc(6px + 1vmin);
}
