#root {
  font-size: calc(10px + 2vmin);
}

header {
  text-align: center;
  padding-bottom: 2vh;
}

.navbar {
  padding: 10px;
  top: 0;
  transition: top 0.9s;
  z-index: 9;
}

.navbar--hidden {
  position: sticky;
  top: -100%;
}

.input-txt::placeholder {
  font-size: calc(2px + 1vmin);
}
.input-txt {
  margin: 1em;
  padding-inline: 1vw;
  width: 30vw;
}

#searchForm {
  padding-top: 1vmax;
  margin: 0 auto;
}

/* .list-group-item {
  font-size: calc(1px + 1vmin);
  text-align: center;
  margin-block: 100%;
  padding-block: auto;
} */
main {
  margin-top: 28vh;
}

#map {
  margin-top: 1vh;
  margin-left: 2vh;
  width: 100vmax;
  height: 100max;
  font-size: calc(1px + 1vmin);
}

#mapImg{
  width: 100%;
  height: 100%;
}

#itunes{
  border-radius: 10px;
}

.tuneslist {
  font-size: calc(6px + 1vmin);
  margin-left: 0 auto;
}

