.list-group:last-child {
  list-style: none;
  margin-bottom: 0;
}
.weather {
  width: max-content;
  height: max-content;
  padding: 1vmax;
  border-radius: 3px;
  font-size: calc(4px + 1vmax);
  text-align: center;
}
ul{
margin-inline: auto;  
}
h6{
  font-size: calc(4px + 2vmin);
}
